.equal-height-container {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
  }
  
  .first {
    background-color: white;
    padding: 20px;
    flex: 1;
  }
  
  .second {
    background-color: yellow;
    flex: 1;
    display: flex;
    flex-direction: column-reverse;
  }
  
  .second-a {
    background-color: lightblue;
    flex: 1;
  }
  
  .second-b {
    background-color: lightgreen;
    flex: 1;
  }